@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P';
  --dark-golden-color: rgba(255, 245, 11, 0.4);
  --golden-color: rgba(255, 235, 55, 1);
}

body, .parent-container {
  height: 100vh;
}

body {
  background-image: url("./paviment.jpg");
  background-size: cover;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  padding: 5px;
  background: linear-gradient(#8B8B8B, #DCDCDC);
  border: 7px solid;
  border-color: rgba(62, 62, 62, 0.7);
  border-radius: 10%;
  height: 400px;
  width: 400px;
}

.primary-btn, .secondary-btn {
  padding: 0;
  min-width: 160px;
  min-height: 40px;
  border-radius: 50px;
  color: white;
}

.primary-btn {
  background: linear-gradient(#363636, rgba(54, 54, 54, 0.2));
  border: 0.3px solid var(--dark-golden-color);
  text-shadow:
    -1.0px 0 var(--dark-golden-color), 
    0 1.0px var(--dark-golden-color), 
    1.0px 0 var(--dark-golden-color), 
    0 -1.0px var(--dark-golden-color);
}

.secondary-btn {
  background: linear-gradient(var(--golden-color), rgba(1, 1, 1, 0.17));
  border: 0.5px solid gray;
  text-shadow:
    -0.5px 0 gray, 
    0 0.5px gray, 
    0.5px 0 gray, 
    0 -0.5px gray;
}

.white-yellow-words {
  color: white;
  text-shadow:
    -1.0px 0 var(--dark-golden-color), 
    0 1.0px var(--dark-golden-color), 
    1.0px 0 var(--dark-golden-color), 
    0 -1.0px var(--dark-golden-color);
}